[2013-05-22 05:47] nipunbatra opened #1 "Resolve Router giving strange names to different h/w"
Should test it once NOT in the troubled Wireless lands of MUC wing!

[2013-05-22 05:48] nipunbatra opened #2 "Assign IP to different MAC addresses and maintain the list here"

[2013-05-22 07:30] nipunbatra opened #3 "Buy Belkin extension cords"

[2013-05-22 07:30] nipunbatra opened #4 "Buy more of routers and configure them also in bridge more"

[2013-05-22 09:59] nipunbatra opened #5 "DB Upload for smart meter must happen in cron, o/w exception comes when more than 1 file is writtent to DB"

[2013-05-22 16:10] nipunbatra commented on #2
Closing. Added the same at https://github.com/nipunreddevil/Home_Deployment/blob/master/Router_Configuration

[2013-05-22 16:10] #2 closed, assigned to nipunbatra

[2013-05-22 16:16] nipunbatra opened #6 "Buy HDMI to VGA converter"

[2013-05-22 16:18] nipunbatra opened #7 "Remove prints from services.py"

[2013-05-22 16:22] nipunbatra opened #8 "Explain about setting up NTP in How To's"

[2013-05-22 16:22] nipunbatra opened #9 "Take NTP time on all clients from the server"

[2013-05-22 16:24] nipunbatra opened #10 "Correct Server address in sysinfo.py"

[2013-05-22 16:43] nipunbatra opened #11 "Create a folder corresonding to DB schemas"

[2013-05-22 16:46] nipunbatra opened #12 "Run sysinfo script on the server also to ensure that it does not stop due to memory, CPU etc reasons"

[2013-05-22 16:47] nipunbatra opened #13 "Remove previous plots from jPlug folder also and add them to .gitignore"

[2013-05-22 16:49] nipunbatra opened #14 "images folder from smart_meter.. has been accidentally removed. Need to add that"

[2013-05-24 02:58] nipunbatra opened #15 "Time needs to be synced up on Phones"

[2013-05-24 02:59] nipunbatra opened #16 "jPlug don't work after power failure"
Only 3 LED's glow after a power failure

[2013-05-24 03:49] nipunbatra opened #17 "Write Failed: Smart Meter Input/Output Error 5"

[2013-05-24 03:49] nipunbatra opened #18 "Smart Meter: Filename starts with 0.csv, since Upload process was working. Data collection had died"

[2013-05-24 03:59] nipunbatra opened #19 "Hardware setup for GSM"
Manoj please see if you can get this also done asap. I suspect shouldn't take more than 30 mins. I have the s/w ready.

[2013-05-24 04:48] #4 closed, assigned to nipunbatra

[2013-05-24 05:04] nipunbatra commented on #17
Threads on SO suggest that it is due to h/w failure for serial port.

[2013-05-24 07:04] shailja-thakur commented on #15
Might be because of turning then on and off many times .

[2013-05-24 08:19] nipunbatra commented on #15
On Fri, May 24, 2013 at 12:34 PM, shailja1275 notifications@github.comwrote:

[2013-05-25 07:36] nipunbatra opened #20 "Add upload CSV feature to Plug Computer for ZWave data"

[2013-05-25 12:15] nipunbatra opened #21 "Add Loading... to all the plots to ensure that user knows that something is happening"

[2013-05-25 12:15] nipunbatra opened #22 "Write a cron job to remove generated plot images"

[2013-05-25 12:41] nipunbatra opened #23 "Matplotlib configuration should be moved to configuration folder"

[2013-05-27 21:53] #20 closed, assigned to nipunbatra

[2013-05-27 21:54] #7 closed, assigned to nipunbatra

[2013-05-27 21:54] #3 closed, assigned to nipunbatra

[2013-05-28 03:54] amarjeet-iiitd commented on #17
I also saw once (a couple of days ago on my plug computer) that for some reason the script was not seeing anything on ttyUSB0. I took out the USB cable and inserted it back again and then it all worked fine. I have asked Inder to not hard code ttyUSB0 as the serial port to be used but instead search for the specific port in the dmesg log to decide which port should be used. This should probably so

[2013-05-28 04:38] nipunbatra commented on #17
For now whenever such an exception occurs, i will check from the dmesg or kernel log if there is a port change.  If a change from current port is detected, will make a serial connection to that port.
But it is strange that while the plug computer/ RPi has not reset, the port connection was broken

[2013-05-28 04:49] nipunbatra opened #24 "Water Meter False Positive on GPIO"
Following is a log

[code]

Need to put a CRO to see if this is happening at s/w end or there is some noise in the circuit. Another test it to see if this comes in smaller cable length (meter connected to motor).

[2013-05-28 11:34] #10 closed, assigned to nipunbatra

[2013-05-28 14:59] nipunbatra opened #25 "ZWave Multisensor gives 0 reading whenever program starts"
![jfhpkniueifo](https://f.cloud.github.com/assets/60985/572969/229a072a-c7a7-11e2-84d0-321a611f5bcc.jpg)

Find a plot attached. Although i can handle this at a latter stage, just mentioned it here, so that we remember it later. Similarly is the case for temperature
![hzujzhichfnf](https://f.cloud.github.com/assets/60985/572982/8370e62c-c7a7-11e2-890a-6fdf66667d24.jpg)

[2013-05-28 15:03] nipunbatra opened #26 "Multisensor Plot should show PIR=0 default and 1 o/w"
This is how it looks currently.
![ckpjrqqzaovc](https://f.cloud.github.com/assets/60985/572993/b77a749c-c7a7-11e2-9a21-75d94fe75061.jpg)

[2013-05-28 15:42] nipunbatra opened #27 "No data from a particular node"
Node number 4  which is actually the closest to the ZStick didn't send any data after a certain time. It was working on inverter point and would have had power even when electricity went. Could this be the issue? This is critical to figure out. Should i reset Plug Computer?

[2013-05-29 02:04] milan1267 commented on #27
Ya because Node searches for a controller, and when power goes off as there was no controller, it goes to sleep mode and may be when light came back, it was in sleep mode and not configured according to the settings we are using in our program.

[2013-05-29 02:06] milan1267 commented on #26
It will give you timestamp whenever there would be motion, so by default we have to assume it as 0.

[2013-05-29 08:44] manojgulati commented on #16
For time being it will be better to demand separate hex file for each floor having hard coded configuration for our AP's.

[2013-05-29 09:13] manojgulati opened #28 "Panel level monitor"
Nipun as we are not using CT's for 1-2 days can you return them back to milan along with 3 spare CT's that we have removed at that time.

I will deploy that system here and will test it in a controlled manner over here. After that we can deploy it back to your new panel at first floor.

[2013-05-29 09:26] nipunbatra commented on #23
Done

[2013-05-29 09:26] #23 closed, assigned to nipunbatra

[2013-05-29 10:46] nipunbatra commented on #17
Now port is checked upon exception. Hopefully bug shouldn't repeat

[2013-05-30 02:59] nipunbatra opened #29 "Noisy SMPS"
SMPS makes a little noise. Have seen this before. Want to confirm what noise level is permissible.

[2013-05-30 04:32] manojgulati commented on #29
The room where you have installed your desktop is usually hot also a lot of dust is accumulating there. Please move the desktop to a better place. Cleaning SMPS fan might help.

[2013-05-31 15:26] nipunbatra opened #30 "Desktop (Main server) may not start, due to serial command from CC"

[2013-06-01 05:07] nipunbatra opened #31 "Zwave program was stopped"
Need error logging for the Python script. Several times now i have seen that the Python program is not running.

[2013-06-01 06:02] nipunbatra commented on #30
Simple solution would be to get another RPi and store data there

[2013-06-01 06:27] amarjeet-iiitd commented on #30
What is CC?

On Sat, Jun 1, 2013 at 11:32 AM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-01 06:31] nipunbatra commented on #30
CC: Current Cost

[2013-06-01 06:33] amarjeet-iiitd commented on #30
We now have 2 extra RPis that you can use for the deployment.

On Sat, Jun 1, 2013 at 12:01 PM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-02 01:26] nipunbatra commented on #31
Found that Plug Computer was out of space. The Logs had consumed all the space. Cleared all the logs for now. The logs by themself had taken about 50% of Disk Space.

[2013-06-02 01:30] nipunbatra commented on #17
Program again crashed. This time i found that "None" was returned for the port match. Now, i am taking care of this special case and restarting the program if such an error occurs. If still this does not work out, would prefer restarting the OS, in case of such an event.

[2013-06-02 01:37] nipunbatra commented on #16
Reprogramming with new binary works

[2013-06-02 01:37] #16 closed, assigned to manojgulati

[2013-06-02 01:38] nipunbatra commented on #15
Again saw that one of the phone was out of sync. Since getting new sim for all of them is not easy, putting them all on WiFi. Will observe if they choke up the b/w or not.

[2013-06-02 01:39] nipunbatra commented on #6
Not needed. RPI can connect directly to TV

[2013-06-02 01:39] #6 closed, assigned to nipunbatra

[2013-06-02 01:51] nipunbatra commented on #1
Now, the router is not even showing any connected devices. Updated the firmware, still doesn't show all the devices. Not showing devices connected to 1 of the bridged router.
1. http://forum1.netgear.com/showthread.php?t=65326

[2013-06-02 01:52] nipunbatra commented on #9
Not needed, since internet though intermittent is up enough to sync up

[2013-06-02 01:52] #9 closed, assigned to nipunbatra

[2013-06-02 01:52] #15 closed, assigned to nipunbatra

[2013-06-02 02:18] amarjeet-iiitd commented on #15
Nipun, did one of the phones already had a SIM?

Also check with Siddhartha. He purchased 6 sims for his work. They may not
be getting used or he can get more from the same vendor if you want.

Best regards
Amarjeet Singh
On Jun 2, 2013 7:08 AM, "Nipun Batra" notifications@github.com wrote:

[2013-06-02 02:19] amarjeet-iiitd commented on #15
I also think that out of sync might be happening because of phone reboot
for some reason.

Best regards
Amarjeet Singh
On Jun 2, 2013 7:48 AM, "Amarjeet Singh" amarjeet@iiitd.ac.in wrote:

[2013-06-02 02:25] nipunbatra commented on #15
All phones are put on perpetual charging, so they  should not be reset. I think putting them on network should solve the issue. Only 1 phone has been giving problem. Will update the status tomorrow.

[2013-06-02 02:26] nipunbatra commented on #30
Replaced with RPi. Doing local storage on RPi now. The method is reliable so shouldn't be an issue.

[2013-06-02 02:26] #30 closed, assigned to nipunbatra

[2013-06-02 02:46] nipunbatra commented on #31
There was some error with run.py file. For some reason it's contents were nil. Copied this file again from github and now the program atleast starts. I think, when space was full, something happened, which forced contents of run.py to be nil.

[2013-06-02 02:47] #28 closed, assigned to nipunbatra

[2013-06-02 02:48] nipunbatra commented on #19
Not required urgently, since internet is up and running, so alerts can come via email

[2013-06-02 02:48] #19 closed, assigned to manojgulati

[2013-06-02 02:49] #13 closed, assigned to nipunbatra

[2013-06-02 02:49] #26 closed, assigned to nipunbatra

[2013-06-02 03:59] #1 closed, assigned to nipunbatra

[2013-06-02 04:16] nipunbatra commented on #31
Will need to add a script to delete older log files to ensure that disk does not get full. Also will run the script to alert in such events.

[2013-06-02 04:30] #21 closed, assigned to nipunbatra

[2013-06-02 04:40] shailja-thakur commented on #15
Only solution would be keep them connected to wifi

And how much data is already collected , isn't there by now any space
shortage?

On Sun, Jun 2, 2013 at 7:55 AM, Nipun Batra notifications@github.comwrote:

[2013-06-02 04:51] nipunbatra commented on #15
I would leave them connected to WiFi. How do we check if the phone is running out of space?

[2013-06-02 05:23] nipunbatra commented on #12
Script running on all different clients and machines

[2013-06-02 05:23] #12 closed, assigned to nipunbatra

[2013-06-02 05:25] #14 closed, assigned to nipunbatra

[2013-06-02 05:42] amarjeet-iiitd commented on #31
Try to maintain logs at a lower frequency but for the whole deployment.

Please do collect logs about network connectivity as well. Maybe just run
ping for 15 consecutive minutes and then store the summary characteristics
that come at the end and then restart ping.

Best regards
Amarjeet Singh
On Jun 2, 2013 9:46 AM, "Nipun Batra" notifications@github.com wrote:

[2013-06-02 05:47] nipunbatra commented on #31
Current logs include the following:
- Disk Space
- RAM
- CPU
- Local Time

I would try and see if i can add those ping statistics here as well. In general, connectivity has been good.

[2013-06-02 05:47] amarjeet-iiitd commented on #15
Keep checking the size of file created by the application. You can also
check system information by going to storage in settings.

Best regards
Amarjeet Singh
On Jun 2, 2013 10:21 AM, "Nipun Batra" notifications@github.com wrote:

[2013-06-02 07:31] amarjeet-iiitd commented on #31
We want to make an argument later for hosting local desktop for data
collection. Collecting network statistics, even at 5-15 minute resolution
will help.

Best regards
Amarjeet Singh
On Jun 2, 2013 11:17 AM, "Nipun Batra" notifications@github.com wrote:

[2013-06-03 05:34] nipunbatra commented on #17
Again the same exception occured. Alas the program didn't restart! Toy program had restarted, but not this one!
Even rebooting in such a case shouldn't be a bad option. Interestingly, this is something which happens on RPi and not on Plug Computer (atleast not so frquently)

[2013-06-03 05:35] #8 closed, assigned to nipunbatra

[2013-06-03 05:37] nipunbatra commented on #29
Noise levels at an all time high. Previous experience with laptop shows that it may shutdown due to over heating. Need to clean the fan.

[2013-06-03 06:46] nipunbatra opened #32 "Add ping statistics to system information script"

[2013-06-03 09:14] #11 closed, assigned to nipunbatra

[2013-06-03 10:49] #32 closed, assigned to nipunbatra

[2013-06-03 11:55] nipunbatra opened #33 "Multisensor strange PIR results"
![2](https://f.cloud.github.com/assets/60985/599101/4977ca3e-cc44-11e2-8a58-6c40fa7a2c3e.png)
![3](https://f.cloud.github.com/assets/60985/599102/49f53fd2-cc44-11e2-8569-6f212de2929a.png)
![6](https://f.cloud.github.com/assets/60985/599103/4a06f52e-cc44-11e2-9f6c-3a46b97f7829.png)
![7](https://f.cloud.github.com/assets/60985/599104/4a04c1dc-cc44-11e2-80dc-1729cf44f079.png)
![4](https://f.cloud.git

[2013-06-03 12:29] amarjeet-iiitd commented on #33
Milan - we should try with reduced resolution for the motion sensor (maybe
a value of 200).

Please take it as a high priority to resolve the data for motion sensor.

On Mon, Jun 3, 2013 at 5:25 PM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-03 12:31] nipunbatra commented on #33
Since this is a crucial aspect of the deployment, i am connecting and placing a RPi with motion sensor right next to one of the multisensors to do a comparison.

[2013-06-03 12:32] milan1267 commented on #33
I think we are using multisensor at a resolution of 200 only. Nipun can you
please confirm this thing. Otherwise we may reduce it to lower value also.

On Mon, Jun 3, 2013 at 6:01 PM, Nipun Batra notifications@github.comwrote:

##

Regards

Milan Jain (MT12067)
M.Tech (MUC)
IIIT Delhi

[2013-06-03 12:36] nipunbatra commented on #33
The following is the code

[code]

Is the current sensitivity 235? The LED on Multisensor always glows at the right time (when motion is detected). Does the fact that we are also trying to get light and temeperature data in an unnatural way have repercussions?

[2013-06-03 12:40] milan1267 commented on #33
Right the sensitivity is 235. I don't think this could be the reason. 235
value is really high sensitivity to work upon. 150 is a good value to work
upon but we can try at 200 also for overnight.

On Mon, Jun 3, 2013 at 6:06 PM, Nipun Batra notifications@github.comwrote:

##

Regards

Milan Jain (MT12067)
M.Tech (MUC)
IIIT Delhi

[2013-06-03 12:43] nipunbatra commented on #33
The important question is: Does Multisensor record motion activity if the LED does not glow? If it does not, then i think sensitivity is not the issue.

[2013-06-03 12:48] milan1267 commented on #33
LED glows whenever there is motion, this thing happens when
1. Multisensor is just looking for motion data(this happens when node is
   sleeping). And at this time no light and temperature data is recorded. This
   time period is around 40 seconds.
2. When program restarts it configures the node. During that configuration
   and testing time also same thing happens.

In general LED glows when ther

[2013-06-03 12:59] nipunbatra commented on #33
Will there be a case when LED **does** not glow, yet motion is recorded?

[2013-06-03 13:03] milan1267 commented on #33
No this couldn't be a case

On 6/3/13, Nipun Batra notifications@github.com wrote:

##

Regards

Milan Jain (MT12067)
M.Tech (MUC)
IIIT Delhi

[2013-06-03 13:31] nipunbatra commented on #33
BTW, do not rule out an error at my end.
Can you also confirm by placing a flyport with PIR sensor and record activity from both.
The difficult part is that LED glows at proper times.

Here are the updates:
Node 2: LED glows correctly, but it does not write to the CSV
Node 6: LED does not glow, it keeps on writing to CSV

I restarted Node 2 and now it detects motion and writes to CSV
Node 6 even a

[2013-06-03 16:58] nipunbatra commented on #33
Even more confirmation regarding node 6. It still keeps on giving motion even when there is no possibility of motion in that room. No fan. Also the LED is not glowing for that node.
Probably a case of node gone bad.
For Node 2- it is now giving motion. Probably had gone into some bad state last when it failed to give motion, even though the LED would glow.

[2013-06-03 17:01] milan1267 commented on #33
Behavior of Node 6 is really not expected that's why curve is also a
straight line for Node 6. So if you want I can compare PIR data from
flyport with Motion data from Multisensor. Possible that node is not
working properly. I can come on wednesday and instead of that Node I can
replace the 5th node, because we have not excluded node 5 from the network
also.

On Mon, Jun 3, 2013 at 10:28 PM, Nipun

[2013-06-03 23:54] nipunbatra opened #34 "Refrigerator jPlug stopped giving data"
4 LED's were glowing, which means that it got an IP, but was not able to post. I checked to see if server was on or not. It was working as usual. Resetting jPlug ensured that data connectivity resumed.
However, i think it is a bug in jPlug. Need to confirm from Radio Studio

[2013-06-03 23:59] nipunbatra commented on #33
Node 6 continues to behave as such. Best would be to replace it with Node 5.

[2013-06-04 00:05] nipunbatra commented on #33
Would it help if i would attach the logs generated by the Open ZWave Program?

[2013-06-04 00:21] nipunbatra opened #35 "Add header to jPlug console"

[2013-06-04 01:10] nipunbatra commented on #34
More information on the issue.
- jPlug sequence number went from 1 to 600 odd and then again from 1 to 230 odd and then it stopped
- Time in the data packet is incomprehensible

  `+50.49 +240.352 +131.533 +8.703 +0.001 +0.605 +61.857 +145.352 +0.905 +25.186     31:04:100,23/01/12,    00:1E:C0:0C:C4:9D JPlugC49D 233`
  Could this be an issue? I had **not** used NTP synchronization.
- When data sto

[2013-06-04 01:16] nipunbatra commented on #17
OS reboot worked. For some reason RPi does not work with newer port. Does not get properly allocated. Hardly a minute worth data lost in the reboot process.

[2013-06-04 01:16] #17 closed, assigned to nipunbatra

[2013-06-04 01:44] amarjeet-iiitd commented on #34
Please get it resolved by Radio Studio folks soon..

On Tue, Jun 4, 2013 at 6:40 AM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-04 01:46] amarjeet-iiitd commented on #33
Are other nodes, besides these two, working fine completely?

On Tue, Jun 4, 2013 at 5:35 AM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-04 02:22] nipunbatra commented on #29
Cleaned the Desktop. Literally a kg of dust!! Will add this as a unique aspect of Indian deployments in forthcoming paper.

[2013-06-04 02:22] #29 closed, assigned to manojgulati

[2013-06-04 02:29] #35 closed, assigned to nipunbatra

[2013-06-04 02:52] nipunbatra commented on #34
After some time data started coming again automatically. But, this is something which needs to be resolved

[2013-06-04 03:16] nipunbatra commented on #33
2 other nodes give motion spread throughout the night. I think it is a sensitivity issue with them.
After reducing the sensitivity only can i comment on this issue

[2013-06-04 04:23] milan1267 commented on #33
Can you send me the plots for the last night and the OpenZWave logs of
around 10PM, 2AM and 6AM.

On Tue, Jun 4, 2013 at 8:46 AM, Nipun Batra notifications@github.comwrote:

##

Regards

Milan Jain (MT12067)
M.Tech (MUC)
IIIT Delhi

[2013-06-04 10:00] nipunbatra commented on #33
Following are the images: https://dl.dropboxusercontent.com/u/75845627/Deployment/images.zip
Following are the logs     :https://dl.dropboxusercontent.com/u/75845627/Deployment/zwave_log.zip

[2013-06-04 14:02] nipunbatra commented on #24
I periodically noted down the reading from the tank meter. From the collected GPIO data found that most of the bursty data occured within  few ms. Saw the number of events which are separated by more than 3 seconds. Results are much closer to actual numbers. Manoj is looking into ADC waveform and comparing it with the data from the GPIO program.

[2013-06-04 14:07] nipunbatra commented on #31
Added a script to remove older log files from plug computer. Now it should not eat up the entire disk space.

[2013-06-04 14:07] #31 closed, assigned to milan1267

[2013-06-04 14:08] nipunbatra commented on #27
Removed the node from inverter point. Data coming in a continuous fashion since.

[2013-06-04 14:08] #27 closed, assigned to milan1267

[2013-06-04 14:23] nipunbatra commented on #34
Few more observations across multiple jPlugs.
- Time to time there would be garbage data such as

  +0.00 +0.000 +0.000 +0.000 +0.000 +0.000 +0.000 +0.000 +0.000 +0.000     00:00:80,01/01/00,        00:1E:C0:0C:C4:A0 JPlugC4A0 2

  +0.00 +0.000 +0.000 +0.000 +0.000 +0.000 +0.000 +0.000 +0.000 +0.000     00:00:80,01/01/00,    00:1E:C0:0C:C4:A0 JPlugC4A0 3

  +0.00 +0.000 +0.000 +0.000 +0.000 +0.000

[2013-06-04 14:32] nipunbatra commented on #24
Now even after adding a delay of 3s, get a lot of false positives.
When 24 litres were consumed, 33 events (330 litres) are observed. Surely a lot of false events sent in the wire.
I recall that when the vendor came in to give the demo last year he talked about giving data over Modbus. Should we talk to those guys if Modbus controller can be attached to this meter or would it be a different meter

[2013-06-04 14:35] nipunbatra opened #36 "MySQL service would not start sometimes"
The OS starts it. But i have seen that sometimes the service is not started and i manually did the same. Again the local store-upload paradigm helps, since we buffer up data even at server in form of files where a separte consumer process eats it up and puts it in DB.
Again something practical to show when we write about the deployment.

[2013-06-04 14:50] amarjeet-iiitd commented on #24
This is getting complicated.

Please ask manoj to check for using the ADC rather than a GPIO. In
parallel, feel free to explore the modbus option from the vendor.

On Tue, Jun 4, 2013 at 8:02 PM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-05 02:02] nipunbatra commented on #33
With reduced sensitivity, results are almost as good as we can get from current hardware. Node 2 not as good as others, 6 useless

[2013-06-05 02:04] nipunbatra commented on #24
Also with Modbus controller, i feel we can get 1 liter resolution rather than 10 liter. But this needs to be confirmed. Highly possible that they take pulse o/p from meter and put the data in modbus register

[2013-06-05 02:16] amarjeet-iiitd commented on #24
If the meter is giving the pulse at 10 liters then modbus controller can
not do anything. That is a device that gets added with the wire of the
meter and takes the pulse output from it.

On Wed, Jun 5, 2013 at 7:34 AM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-05 06:03] nipunbatra commented on #36
Found it was owing to binding of IP in my.cnf config. Changed that to localhost

[2013-06-05 06:03] #36 closed, assigned to nipunbatra

[2013-06-05 06:06] nipunbatra opened #37 "Parse jPlug data file"
Had earlier planned it to be done after deployment, but now need to verify if data is not getting lost due to miscellaneous reasons. The format of data and the fact that a lot of times data is patchy makes it an interesting tough prospect.

[2013-06-05 10:54] nipunbatra commented on #34
The following is the visualization showing missing data. Loads of data lost. What can be done in such a case.
At best i can put an alert on regular appliances and report if data is lost or not.

This is a very critical aspect and really we should not be losing this data atleast.
![index](https://f.cloud.github.com/assets/60985/611289/ffca103c-cdcd-11e2-8b5c-2770e08f1692.png)

[2013-06-05 11:15] nipunbatra commented on #37
Done

[2013-06-05 11:15] #37 closed, assigned to nipunbatra

[2013-06-05 11:15] nipunbatra commented on #25
Closing for now. Will be resolved in post processing.

[2013-06-05 11:15] #25 closed, assigned to milan1267

[2013-06-05 11:28] amarjeet-iiitd commented on #34
Send this to Rajesh and ask him what may be the potential problem. Is it
the same for other jPlugs as well?

A script to test if there is missing data will indeed be useful to know of
these instances in the future.

On Wed, Jun 5, 2013 at 4:24 PM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-05 11:35] nipunbatra commented on #34
Had written a script which would tell in realtime if data is coming or not, or alert if significant time had passed if no data has come. But it will mainly be applicable to ref. jplug or jplugs connected to AC in night.
Sending plots for other jplugs in few mins.

[2013-06-06 07:44] nipunbatra commented on #34
![7a18](https://f.cloud.github.com/assets/60985/616778/f1fdcbac-ce7b-11e2-8cb2-db82b8fffea1.png)
![c4a0](https://f.cloud.github.com/assets/60985/616780/02512fd0-ce7c-11e2-9e38-a4a87a1444d1.png)
![c4a1](https://f.cloud.github.com/assets/60985/616781/02f11b6c-ce7c-11e2-8096-e240b44be1b3.png)
![c49c](https://f.cloud.github.com/assets/60985/616782/0450f040-ce7c-11e2-9964-d865540e54d7.png)

[2013-06-06 08:20] amarjeet-iiitd commented on #34
Which appliances are these and what are you plotting?

On Thu, Jun 6, 2013 at 1:14 PM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-08 04:48] nipunbatra commented on #33
Replaces Node 6 with Node 5, stranger results. Pics below.
Would rebooting the Plug Computer help?
![light_5](https://f.cloud.github.com/assets/60985/627109/91da8996-cff6-11e2-9296-945c00dbafec.jpg)
![pir_5](https://f.cloud.github.com/assets/60985/627110/92593dc2-cff6-11e2-8b19-b5434c494d4e.jpg)
![temp_5](https://f.cloud.github.com/assets/60985/627111/92688124-cff6-11e2-8091-9a20835b35ba.jpg)

[2013-06-08 04:52] milan1267 commented on #33
Yes please reboot plug computer once, this is really strange.

[2013-06-08 04:58] nipunbatra commented on #33
Done, would report results in some time when new data has come.

On Sat, Jun 8, 2013 at 10:22 AM, Milan Jain notifications@github.comwrote:

[2013-06-08 05:01] milan1267 commented on #33
You have selected Node-5 while collecting the data, may be by mistake selected Node-6. As the configuration has not been written in zwc*.xml file, it is not able to take parameters so reboot should work fine otherwise you will have to copy Node6 section of xml to Node-5 section once.

[2013-06-08 05:45] nipunbatra opened #38 "take deployment pics"
Now that deployment in Home 1 is almost stable and not too untidy, good time to take pics.

[2013-06-08 08:12] nipunbatra opened #39 "How to use Battery Backup?"
Did it come with some manual?
Both the battery backups weren't able to run RPi.
I connected mains to the backup and from backup took a cable to RPi. Didn't work with both.
Since i had been sorting other issues first, had not talked about this. Since electricity failure is _extremely_ common these days, it would be important to know how to get this thing to work.

@amarjeet-iiitd , @manojgulati : D

[2013-06-08 10:42] nipunbatra commented on #33
Still same results even after rebooting.
Zwconfig file : https://dl.dropboxusercontent.com/u/75845627/Deployment/zwcfg_0x0161d5e9.xml

Please see if you get anything from this.
I am trying to narrow down the possibilities from my end. Possible reasons
- Power supply in that room is flawed
- I made the power connections wrong (less probable as i did the same connections for all multisensor)
- Maybe

[2013-06-08 11:18] manojgulati commented on #39
Nipun i haven't tested it. Please consult sir regarding this.

[2013-06-09 03:32] milan1267 commented on #33
I am sorry for such a late response because of power issues. It is an xml problem, not able to take configuration from the sensors. So use this xml instead of that one. https://www.dropbox.com/s/ofq4whmjn0ibmsw/zwcfg_0x0161d5e9.xml

[2013-06-09 13:34] amarjeet-iiitd commented on #39
I think it can only do one thing at a time - either charge or discharge. So
you probably have to remove charger from main supply and RPi should then
run. And then after 1-2 days you have to again charge it while keeping RPi
on main for that time.

On Sat, Jun 8, 2013 at 4:48 PM, manojgulati notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iii

[2013-06-12 08:26] nipunbatra commented on #33
Now all nodes working fine. There is some post processing which we will need to do, but largely solving the intended purpose. Closing the issue as resolved.

[2013-06-12 08:27] nipunbatra commented on #33
Thanks Milan for all the effort in this!

[2013-06-14 07:29] nipunbatra opened #40 "Phone continuous data collection"
Just checked on one of the phones, FunF had data close to 700 MB, while on another 30 MB. Both have been running since same date.
How do i verify? Do i need to export and check?

@shailja1275 : Please see

[2013-06-14 07:34] shailja-thakur commented on #40
yes , possibly even I cant infer just from the size. After seeing only
can get to know the reason , whether the phone wan on /off  or whatever.

On Fri, Jun 14, 2013 at 12:59 PM, Nipun Batra notifications@github.comwrote:

[2013-06-14 07:35] nipunbatra commented on #40
Do you have some script to check the same? Since i don't think i will want to upload 30+ MB data.

[2013-06-14 07:40] shailja-thakur commented on #40
I have python scripts , it hardly takes minute to upload

On Fri, Jun 14, 2013 at 1:05 PM, Nipun Batra notifications@github.comwrote:

[2013-06-14 07:53] nipunbatra commented on #40
Please put the scripts on github/ gists and share the link here

[2013-06-14 08:32] shailja-thakur commented on #40
I am having it on dropbox , I will share in a moment.

On Fri, Jun 14, 2013 at 1:23 PM, Nipun Batra notifications@github.comwrote:

[2013-06-14 09:34] nipunbatra commented on #40
None of the export options are feasible at my net speed!
- Can i do a local transfer on LAN?
- You told it uses sqlite. Since sqlite is a file based database, if i just copy the file, it should work. Can you try this and let me know?

[2013-06-14 09:39] shailja-thakur commented on #40
Yes , do try ,I never tried it though it should work , on phone there must
be db files and additionally the zipped file

On Fri, Jun 14, 2013 at 3:04 PM, Nipun Batra notifications@github.comwrote:

[2013-06-14 09:41] nipunbatra commented on #40
I meant can **you** @shailja1275  please try and let me know. Just tell me the location of sqlite and how to copy it to my laptop. Remaining things i will do.

[2013-06-14 09:54] shailja-thakur commented on #40
ok , acually i uninstalled funf from my phone long back , i will do it all
again and tell you in 15 min

On Fri, Jun 14, 2013 at 3:11 PM, Nipun Batra notifications@github.comwrote:

[2013-06-14 10:05] shailja-thakur commented on #40
As far as I remember , in file manager there is a folder name starting with
mit.  (a very long name) within that there are .db files ,just download
them.

Actual path I will let you know in short while

On Fri, Jun 14, 2013 at 3:23 PM, Shailja Thakur shailja1275@iiitd.ac.inwrote:

[2013-06-15 07:56] nipunbatra opened #41 "Accessing Android phone's data from Linux is non trivial"
Well known issue. Options:
- Install MTPFS on Linux and create udev rules
- Option 2: Do an ssh/sftp

References:
1. http://www.maketecheasier.com/access-android-device-with-linux-file-managers/2012/09/18
2. http://blog.mpshouse.com/?p=609

Noting down these things for future reference.

[2013-06-15 08:49] nipunbatra commented on #41
SSHing into is requiring a username and password, which i am not aware of.
Any ideas @shailja1275

[2013-06-15 09:14] nipunbatra commented on #40
Still having issues with accessing data (propreitary MTP!) as reported on #41 , the phone which had only collected 30 MB had the app running, but wasn't actually running. Did a Force Stop and ran again. Now it is collecting data.
I think i will have to manually every few hours check the data eaten up by it.

One phone has consumed about 700 MB. Probably would need to copy its older data to my PC.

[2013-06-15 09:16] nipunbatra commented on #40
Now if it try to open Funf, it will just keep on crashing! Dont know what to do.

[2013-06-15 09:29] nipunbatra commented on #40
Restarted the phone and now data collection is again working fine.

[2013-06-15 09:44] nipunbatra commented on #40
Another phone wasn't collecting data. In its case Data Collection button was **OFF**.
Surely manually checking this is not the best method.

[2013-06-15 14:44] nipunbatra commented on #24
No electricity breakdown yesterday. Verified that with polling data is clean. I think that issue is resolved.
Looks OK to me.
@manojgulati , @amarjeet-iiitd : Please confirm if this looks OK

| Time | Reading |
| --- | --- |
| 12:00 | 10583 |
| 1:19 | 10613 |
| 3:46 | 10661 |
| 5:15 | 10684 |

![image_zoomed](https://f.cloud.github.com/assets/60985/658247/fa61f5e8-d5c9-11e2-8bf9-f36f319245ae.png)

[2013-06-15 15:03] manojgulati commented on #24
This is fine. But for confirmation please take one more note down of actual readings with plots. So that we can check this out of issue list.

[2013-06-15 15:15] nipunbatra commented on #24
Sure taking more readings starting now and will keep updating them here itself.

| Time | Reading |
| --- | --- |
| 8:42 | 11173 |
| Next day |  |
| 10:28 | 11323 |

[2013-06-15 15:17] nipunbatra opened #42 "Weather information API"
@milan1267 Please see if you can inform which one to use amongst the ones you used or we use the one which i talked about  (update every 3 hrs). This is impt.. Like yesterday there was rain and weather was cool, parents didn't use AC. Do a quick comparison and inform the results.

[2013-06-15 15:20] nipunbatra opened #43 "System info logging script was not present on one RPi. Working fine on others"
Careless mistake from my side. Noting it as an issue that even though one may take extreme care, such mistakes are bound to happen. This is an aspect which must not be neglected in presenting results in a real world deployment.

[2013-06-15 15:40] amarjeet-iiitd commented on #24
I dont understand the plot - is it the case that everytime we see 1, 10
liters are consumed? And why are there two consecutive ones without going
to 0?

On Sat, Jun 15, 2013 at 8:14 PM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-15 15:45] nipunbatra commented on #24
This plot is based on polled data.

1 means that water level is between 2 and 3 at unit's place, 0 o/w

2 consecutive 1's mean that during those two time points, water level remaining b/w 2 and 3. So to count 10 litres you can simply count the number of rising or falling edges in the above plot.

[2013-06-15 16:41] nipunbatra commented on #43
Started it now

[2013-06-15 16:41] #43 closed, assigned to nipunbatra

[2013-06-16 04:56] milan1267 commented on #42
This is the script I am running on the data collected overnight. This is the plot I am getting
![strange_plot](https://f.cloud.github.com/assets/3133669/658979/15f28184-d641-11e2-91d0-638cf4622fc3.png)

[2013-06-16 06:03] milan1267 commented on #42
Plots has been corrected.
![plot1](https://f.cloud.github.com/assets/3133669/658999/88007d4e-d646-11e2-9eaf-dcffebd9e6ed.png)
![plot2](https://f.cloud.github.com/assets/3133669/659000/888d6d08-d646-11e2-93ed-f58696c6780d.png)
OpenWeather API is sending a timestamp with it, which updates after every half and hour. A bit of strange data has also been received in it. It is having a limit of 10 minute

[2013-06-16 11:05] manojgulati commented on #24
Here i have attached the connection diagram for connecting water meter with Raspberry Pi Gpio. Please check the three header wires periodically so that in case of loose wires we are not going to loose any data.
![image](https://f.cloud.github.com/assets/4547991/659221/a9a17fb6-d673-11e2-9174-3341aaea3554.png)

Last time the issue of noise that you were facing was due to loose header wire & Rpi was

[2013-06-16 12:23] shailja-thakur commented on #41
Does the phone responds to the USB connection or not ,  interested to know

[2013-06-16 16:10] #38 closed, assigned to nipunbatra

[2013-06-19 16:16] nipunbatra opened #44 "Need to create viz systems"
Currently these things are done offline. The workflow can get a bit complicated for checking more than once a day.
1. System info (like ping time etc.)
2. Water meter data
3. jPLug data
4. CT Data

This also means that for the following, store, fwd, feed to DB need to be done
1. Water meter data
2. CT data
3. jPlug data

[2013-06-19 16:18] nipunbatra opened #45 "Log times when RPi is restarted due to s/w failure due to port changing"
This needs to be done in order to have a clear idea on s/w faults v/s electricity failure. Also to have some numbers on how often this happens.

[2013-06-19 16:20] nipunbatra opened #46 "Creating minimal dashboarding app for multiple streams"
Low priority!
Might not even be done. Seems impressive!

[2013-06-19 16:36] nipunbatra opened #47 "WiFi issues with RPi used with CT"
Used TPlink h/w for this. Have a netgear spare one in lab. Will replace this one.
Netgear one never gave any issue.

[2013-06-20 05:47] manojgulati commented on #47
I will send that netgear dongle this time. We have 2 of them lying spare with us right now.

[2013-06-21 04:50] nipunbatra opened #48 "Multisensor 5 not working"
I think it is power issue.

@manojgulati : I checked the connections from SMPS are tight. What amongst the following could go wrong:
1. SMPS has gone bad
2. SMPS might have given extra voltage to the node and thus it might have blown off

This is the same room where the earlier node also had malfunctioning. Could it be a case that the room power supply is faulty. I have connected Multisensor via a

[2013-06-21 04:55] nipunbatra commented on #42
@milan1267 : Is the code stable now?

@amarjeet-iiitd : What machine should we use to record temp. info. Needs internet connectivity always.
Pervasive server very often logs one out of cyberoam, so cannot directly be used.

[2013-06-21 05:54] milan1267 commented on #42
@nipunreddevil : I am almost done with it. Just doing some testing. I will upload it by the evening.

[2013-06-21 06:06] manojgulati commented on #48
Try to measure the voltage output of that power adapter i feel that's a faulty one and is not giving exact +5V that's why your nodes are getting spoiled.

Also try to replace the plug point on which you are mounting multisensor in that particular room.

[2013-06-21 08:53] nipunbatra commented on #48
The adapter is gone. Gives no voltage at its o/p.
@manojgulati : Please test additional adapter. Shall take one from you today evening.

[2013-06-21 10:29] milan1267 commented on #42
I have tested the Script and added all the exceptions also. Here is the script https://github.com/milan1267/AC-Data-Collection/blob/master/get_temperature_em.py

[2013-06-22 16:24] nipunbatra commented on #42
Created an issue https://github.com/milan1267/AC-Data-Collection/issues/2 !
Not critical, maybe when you get time, might want to look at these things.

On Fri, Jun 21, 2013 at 3:59 PM, Milan Jain notifications@github.comwrote:

[2013-06-22 16:45] nipunbatra commented on #39
One of the two battery backup does not have the capability to charge and discharge simultaneously. It might be tricky to know when its battery may die.

The other one can charge/discharge simultaneously but not enough current to power RPi.
As of now the situation remains as earlier- at the mercy of electricity!

[2013-06-23 06:04] amarjeet-iiitd commented on #42
This has been pending with me.

I dont know the way out - it is ideally not good to have firewall bypass
but we can do that for one of the VMs on which this script can be run if
really required. Let me know and I will then send the request.

On Fri, Jun 21, 2013 at 10:25 AM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.e

[2013-06-23 06:06] amarjeet-iiitd commented on #39
Try charging the bigger battery completely and running RPi out of it. See
how long RPi may last. We may then want to optimize RPi stuff to keep WiFi
off for most time and save power at a later stage.

On Sat, Jun 22, 2013 at 10:15 PM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-23 06:13] nipunbatra commented on #42
There is also a simpler route, with loss of information.

We can collect this 10 min temperature information on say Main server at my
home.
We also use another web service which gives info at 3 hrs and give past few
days archive.

I am not too keen to involve networking deptt. and since many people use
the server, i don't want to take the responsibility for all of them.
Would the above solution be

[2013-06-23 06:16] nipunbatra commented on #39
We are not using WiFi on that RPi, so that shouldn't be a problem.
@manojgulati: Can you try chanrging battery completely and see how long it
runs?

On Sun, Jun 23, 2013 at 11:36 AM, amarjeet-iiitd
notifications@github.comwrote:

[2013-06-23 07:40] shailja-thakur commented on #42
I installed cyberoam client there and logged in from there , now it should
not log out I think.

On Sun, Jun 23, 2013 at 11:43 AM, Nipun Batra notifications@github.comwrote:

[2013-06-23 07:41] nipunbatra commented on #42
Milan can you try running your script on Pervasive server now?

On Sun, Jun 23, 2013 at 1:10 PM, shailja1275 notifications@github.comwrote:

[2013-06-23 07:43] milan1267 commented on #42
Ya sure I will do that after lunch around 2:30

[2013-06-23 08:20] amarjeet-iiitd commented on #42
Sure - that works.

On Sun, Jun 23, 2013 at 11:43 AM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-24 07:34] shailja-thakur commented on #42
The problem of consistent internet over VM is still there , although the
client has it running always .Just to check I tried running weather script
on nms server , and it was collecting weather info , and there as well I am
logged in via cyberoam client. And why is the connection over bridged and
not NAT on pervasive ?

On Sun, Jun 23, 2013 at 1:50 PM, amarjeet-iiitd notifications@github.comwrote:

[2013-06-24 07:52] milan1267 commented on #42
If internet connection persists then it would be difficult to collect weather data on pervasive VM.

[2013-06-24 07:54] milan1267 opened #49 "World Weather API server down"
World Weather API server was down yesterday. So created a backup script to collect weather data from Open Weather API.

[2013-06-24 07:58] nipunbatra commented on #42
@amarjeet-iiitd : Can you please ask if some faculty is using Amazon EC2. They do provide educational plans also. The free trial also should be fine, but they require to register via a credit card.

I think that we are far better off utilizing cloud based stuff than to spend time to debug our system. Or if that is time consuming, just logging at 2-3 places in different parts of Delhi even on lapto

[2013-06-24 08:04] nipunbatra commented on #49
As a principle collect from both. Counter verification is always good. I
also remember once you showed that data from World Weather was giving
future dates.

On Mon, Jun 24, 2013 at 1:24 PM, Milan Jain notifications@github.comwrote:

[2013-06-24 08:06] nipunbatra commented on #42
@milan1267 : You may want to write in 5-6 lines why you chose which API and their tradeoffs. Tomorrow if you are on leave, someone else can refer to that page.
Maybe when you have time, create a wiki page here.

[2013-06-24 08:42] manojgulati opened #50 "CT Circuit #2"
Ashish tested new CT circuit having 4 CT's and arduino as host controller for 2 hours. Its working fine. Please inform if you want to test anything else before we send this for actual deployment.

Also kind of casing you aspect as ground floor panel box was hardly having any free space  inside that.

[2013-06-24 08:43] manojgulati commented on #24
I hope water meters are stable now. Please close this issue.

[2013-06-24 09:01] nipunbatra commented on #50
- Test for 5 CT's
- Regarding casing you already know what to put based on the size

[2013-06-24 10:06] amarjeet-iiitd commented on #42
I would suggest that ask IT people to correct this problem. If they can not
keep it on cyberroam all the time then we have a case to get it out of
firewall and I can do that.

On Mon, Jun 24, 2013 at 1:36 PM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-26 09:43] nipunbatra commented on #42
Any progress on this front. If not, should i ask Samy to do this on some
machine in UCLA.

@milan1267: Is the World Weather API working now?

On Mon, Jun 24, 2013 at 3:36 PM, amarjeet-iiitd notifications@github.comwrote:

[2013-06-26 09:57] amarjeet-iiitd commented on #42
One of the student was saying that if we keep cyberroam logged in one of
the browser windows then it works fine. The client is not very good in
terms of connectivity.

On Wed, Jun 26, 2013 at 3:13 PM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-26 09:59] nipunbatra commented on #42
I had tried this before, but didn't work. In fact we never log out of
cyberoam on browser and never closed the tab but net would not work. IT
deptt. receommends cyberoam client.

On Wed, Jun 26, 2013 at 3:27 PM, amarjeet-iiitd notifications@github.comwrote:

[2013-06-26 10:08] amarjeet-iiitd commented on #42
Then if it can not be resolved by IT department, we just log the data on
the US side.

On Wed, Jun 26, 2013 at 3:29 PM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-26 10:10] nipunbatra commented on #42
Yes. Seems like the simplest solution. I will ask Samy to run the script on
some server.

@milan1267: Please let me know what all to run and how.

On Wed, Jun 26, 2013 at 3:38 PM, amarjeet-iiitd notifications@github.comwrote:

[2013-06-26 15:05] milan1267 commented on #42
@nipunreddevil : World Weather API is up again. You have to run get_weather*.py scripts. One is for World Weather and other for Open Weather. Address of the folder where we want to save data must be modified.
While using World Weather Script we have to keep one more python file, for it to take password from it. File should be WORLD_WEATHER_APPKEY.py

[2013-06-27 06:50] #50 closed, assigned to nipunbatra

[2013-06-27 06:51] nipunbatra opened #51 "What do CT measure- real or apparent current?"

[2013-06-27 07:04] nipunbatra opened #52 "Creating list of controlled experiments for different sensors"
@milan1267 @manojgulati @shailja1275

cc @amarjeet-iiitd

I am thinking that we need to label manually some data from each sensor, so as to have a clearer idea when we start analyzing the same. I would need help from all of you to create these scenarios and how to log them.
For instance, for CT, i will turn one appliance at a time, for 5 minutes and note down the time of usage.
For phone, i would

[2013-06-27 07:08] nipunbatra commented on #49
Just maintain some stats about how often the API might be down. Will be useful

[2013-06-27 07:10] nipunbatra commented on #48
Worked with 3V3 supply. Apparently the adapter we used earlier was faulty.

@milan1267 : Can you in spare time also try the multisensor which i earlier returned. I think it had same issue and will work with proper supply.

[2013-06-27 07:10] nipunbatra commented on #47
Netgear one should resolve it.

[2013-06-27 07:10] #47 closed, assigned to nipunbatra

[2013-06-27 07:37] milan1267 commented on #48
@nipunreddevil: I was using that sensor with the supply and it was working fine, but I haven't checked the data which could be collected from it.

[2013-06-27 07:50] amarjeet-iiitd commented on #51
There is nothing like real or apparent current. It measures current.

Best regards
Amarjeet Singh
On Jun 27, 2013 12:21 PM, "Nipun Batra" notifications@github.com wrote:

[2013-06-27 07:59] nipunbatra commented on #51
Yes, that was a stupid mistake from my side.

Current is V/Z or V/R?

Let me rephrase: If i multiply instantaneous voltage (obtained from smart
meter) with current- what do we get- Real Power or Apparent Power? This
depends on previous answer.

On Thu, Jun 27, 2013 at 1:20 PM, amarjeet-iiitd notifications@github.comwrote:

[2013-06-27 08:16] shailja-thakur commented on #52
Do you want to see real time information of the sensors you talked ?

On Thu, Jun 27, 2013 at 12:34 PM, Nipun Batra notifications@github.comwrote:

[2013-06-27 09:01] nipunbatra commented on #52
No!
I will manually note down events and later see them.

On Thu, Jun 27, 2013 at 1:46 PM, shailja1275 notifications@github.comwrote:

[2013-06-27 09:20] amarjeet-iiitd commented on #51
You will get apparent power.

Apparent power - v_i
Real power - v_i*cos theta

Best regards
Amarjeet Singh
On Jun 27, 2013 1:30 PM, "Nipun Batra" notifications@github.com wrote:

[2013-06-27 09:38] nipunbatra commented on #51
Ok. Thanks.
And since we dont measure phase per circuit, so we cant get real power.

On Thu, Jun 27, 2013 at 2:50 PM, amarjeet-iiitd notifications@github.comwrote:

[2013-06-30 03:48] milan1267 commented on #49
This is the plot from Both the APIs.
Red One is from OpenWeather API and Black one from WorldWeather API.

![both_apis](https://f.cloud.github.com/assets/3133669/726831/d92f66e8-e137-11e2-84b3-0a61fa8300d7.png)

[2013-06-30 03:59] amarjeet-iiitd commented on #49
Clearly shows that black one is better.

On Sun, Jun 30, 2013 at 9:18 AM, Milan Jain notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-06-30 04:15] milan1267 commented on #49
We have kept Red one for as a backup service.(Server of black one was down for a day)

[2013-07-04 09:15] #51 closed, assigned to manojgulati

[2013-07-04 09:24] nipunbatra opened #53 "CT Measurement Fluctuating"
Log for Circuit 4 (only refrigerator on at this time, RO water purifier also connected, but i think it will consume significant current only when it needs to fill its tank)

This is the CT log when compressor was Off. During this time jPlug was showing current ~0

[code]

This is the CT log when compressor was On. During this time jPlug was showing a current of 0.42 A

[code]

cc @amarjeet-iiitd

[2013-07-04 09:35] manojgulati commented on #53
![image](https://f.cloud.github.com/assets/4547991/748561/cffca826-e48c-11e2-910b-9c714ee45fff.png)
After plotting this we can identify that some appliance is turned on but I feel some noise is coming. This CT is having only refrigerator or something else as well ?.

[2013-07-04 09:38] nipunbatra commented on #53
https://github.com/nipunreddevil/Home_Deployment/blob/master/configuration/circuits.md

shows the mapping.

Barring RO rest all appliances are Off.

[2013-07-04 09:38] #24 closed, assigned to manojgulati

[2013-07-04 09:42] manojgulati commented on #53
Can you do a small test as of now:
1. Turn off refrigerator and take reading from CT for 10 minutes with only RO turned on.
2. Similar case with only refrigerator turned on w/o RO.

Than it will be easy to understand from where this noise is originating and how we can reduce that.

[2013-07-04 09:43] nipunbatra commented on #53
Ok. Will do the tests and report the results.

[2013-07-04 09:49] manojgulati commented on #53
I feel this board is more noisy than previous one. I had tried to log data from Winet for 2 hours and data was clean enough. I can add some filters to reduce these low freq spikes.

[2013-07-04 11:17] nipunbatra commented on #53
##### Case I

All appliances on CT number 4 off (turned OFF Ref. and RO). With no load on this CT, it is showing a lot of fluctuation. Readings from other CT's also mentioned here for reference.

[code]

[2013-07-04 11:26] manojgulati commented on #53
I feel 2 reasons in this case
1. Circuit is introducing too much noise.
2. These CT's are placed too much close to each other and there might be EMI in between them. All 5 cores are placed very close to each other. (And this is unavoidable due to placement of MCB's).

If you feel data is not useful than please remove this circuit i will modify this to ensure minimal noise interference.

[2013-07-04 11:34] nipunbatra commented on #53
Ok.
Currently testing the WiNet based CT circuit to see if that has noise in it or not.

[2013-07-04 12:47] nipunbatra commented on #53
Following are 7 test cases i performed

@manojgulati : If you would like to pan and zoom into these plots,
the script used is here
https://dl.dropboxusercontent.com/u/75845627/Deployment/ct_data/ct_data_plot.py
1. Nothing barring 2 Routers and Plug Computer on first floor was ON. Second floor PC+Router+RPi
   Data file: https://dl.dropboxusercontent.com/u/75845627/Deployment/ct_data/ct_1.csv
   ![

[2013-07-05 04:51] manojgulati commented on #53
These graphs seems to be much cleaner than previous one. If you do remember ADC was giving +/- one point fluctuation so similar effect is reflected in final current calculation as well. But if you notice mean is still constant we can find average of this to find out actual current.

Do you feel value of current that you are getting is also erroneous ? Because i am not having idea like how much cur

[2013-07-05 12:41] nipunbatra opened #54 "Current Cost Lock got lose. Wont give correct reading unless very tightly help"
Currently i taped, and seems to work fine.
When collected data for about an hour, saw ref. take 45 W.

After taping very tightly, power was ~75W, which is correct.

[2013-07-06 01:42] nipunbatra opened #55 "Cannot transfer files to PC over USB when FunF is running"
Was lucky to find out when FunF crashed. Saved a few hours of hair pulling.
I will put this in FunF wiki page on this repo.

For sake of records,I tried on Windows. Earlier when i spent few hours in Linux trying the same, FunF was running, thus couldnt transfer via USB.

cc @shailja1275 : These are the sort of things i would need from you to transfer your knowledge, else i might waste hours.

[2013-07-06 01:45] #55 closed, assigned to nobody

[2013-07-06 02:58] nipunbatra opened #56 "Very difficult to start FunF once it has crashed"
Keeps on saying FunF journal has stopped. Sometimes works on Force Stop and restarting app, sometimes works on Android reboot.
But is a very time consuming process.

cc @shailja1275

[2013-07-06 03:00] nipunbatra opened #57 "False alarm shown by HTC phones about lack of space"
Even after removing all the data from the phone, still keeps on giving this warning. Could this be linked to #56

[2013-07-06 03:06] nipunbatra commented on #56
For some reason FunF onHTC phone had eaten up all phone memory, and was not writing to SD card. Emptied all the contents of app and now it works.

Closes #56, #57

[2013-07-06 03:06] #56 closed, assigned to shailja-thakur

[2013-07-06 03:20] nipunbatra opened #58 "Samsung Chat phones take very long to show up as media device when connected over USB"
Mentioning it here. Will add it to Wiki for future reference.

[2013-07-09 01:34] nipunbatra commented on #49
You may wish to check: http://forecast.io/#/f/28.6667,77.2167

Looks pretty good to me. Although gives forecast, one may use it primarily
for current weather info.
10,000 API calls/ day are free.

On Sun, Jun 30, 2013 at 9:45 AM, Milan Jain notifications@github.comwrote:

[2013-07-10 10:14] nipunbatra opened #59 "CT data showing huge spikes in between"
I just plotted data from first floor CT's. At exactly the same time all 3 CT's show a huge current. Please see the plots below. Is this anything critical. Again this can be handled in pre-processing, like i have to do for ZWave stuff, but would be good if this is resolved at hardware level.
Still it will be good to discuss why this happened.

cc @amarjeet-iiitd

![elxmrpnmgjur](https://f.cloud.git

[2013-07-10 10:19] nipunbatra commented on #33
Node 5 PIR again giving a constant 1. Now we cannot blame the power supply also since we are powering it from Arduino.

What could be the problem @milan1267
cc @manojgulati

[2013-07-10 10:50] nipunbatra commented on #59
Since this is coupled with some data loss, it may be near the time i had to reset some stuff. So unless another such instance occurs, we can defer this issue.

[2013-07-10 11:14] milan1267 commented on #33
Has it started giving a constant in a day or two? If yes can you once press its blue button? Is it working fine after that?

[2013-07-10 11:16] nipunbatra commented on #33
I will press the blue button and report the results.
For some reason only this room gives problems. The LED glows properly only
on detecting motion though,

On Wed, Jul 10, 2013 at 4:44 PM, Milan Jain notifications@github.comwrote:

[2013-07-10 11:22] milan1267 commented on #33
Is it the farthest node?

[2013-07-10 11:24] nipunbatra commented on #33
In some sense all nodes on ground and 2nd floor are at farthest distance.
This node's light and temp. work fine.

On Wed, Jul 10, 2013 at 4:52 PM, Milan Jain notifications@github.comwrote:

[2013-07-10 11:30] milan1267 commented on #33
Can you check the wires coming out of Multisensor? They might have teared up near the blue button. Because if it would have been ZWave Connection problem then even light and temp sensors will create problems. Can you also check output voltage of Board?

[2013-07-10 18:40] manojgulati commented on #59
Just saw this will discuss tomorrow.

[2013-07-11 06:25] nipunbatra commented on #52
Today @amarjeet-iiitd and @manojgulati suggested one controlled experiment
for refrigerator power consumption. I put the ref. in different cooling
modes and note down power consumption. I saw that the difference is
interesting.

Would request you all to suggest stuff from your domain.

On Thu, Jun 27, 2013 at 2:31 PM, nipun batra nipunreddevil@gmail.comwrote:

[2013-07-11 07:00] shailja-thakur commented on #52
would be interesting to see the data of accelerometer and audio ,if the
phone is kept on the refrigerator and see how often refrigerator is used .

On Thu, Jul 11, 2013 at 11:55 AM, Nipun Batra notifications@github.comwrote:

[2013-07-11 16:38] amarjeet-iiitd commented on #52
Added a bunch of things just now..

On Thu, Jul 11, 2013 at 11:55 AM, Nipun Batra notifications@github.comwrote:

##

Best Regards

Amarjeet Singh,
Asst. Professor, IIIT Delhi
http://www.iiitd.edu.in/~amarjeet/

[2013-07-13 14:17] nipunbatra commented on #33
I had pressed the push button on the multisensor. It still works as before- giving a 1 always for PIR

[2013-07-14 18:42] milan1267 commented on #33
Can you please check the wire coming out of multisensor? Are they fine? Is it giving correct temperature and light reading?

[2013-07-22 08:02] milan1267 commented on #42
Hey Nipun, I tried this API, it is really good API to collect weather data. I have made a script for this also. Can you please check it once? There is some problem, it is not getting response from the server. When I am using python interpreter, it is working fine, but script is not getting response. I am mailing you the configuration file.

[2013-07-22 10:37] nipunbatra commented on #42
Working for me

On Mon, Jul 22, 2013 at 1:32 PM, Milan Jain notifications@github.comwrote:

[2013-07-22 10:42] milan1267 commented on #42
Oh great. May be I am doing some folder mistakes while executing.

[2013-07-22 11:23] nipunbatra commented on #42
The log file must be created before usage. You may have missed that.

On Mon, Jul 22, 2013 at 4:12 PM, Milan Jain notifications@github.comwrote:

[2017-11-24 12:41] adrinjalali opened #60 "Mains are wrongly merged in h5 nilmtk file."
As explain in the [NILMTK issue](https://github.com/nilmtk/nilmtk/issues/564#issuecomment-346811745), when you load the h5 file available on [https://iawe.github.io/](https://iawe.github.io/), the two mains are merged into a metergroup, and all the submeters refer to it as their upstream meter.

I believe this is not true and appliances are connected to only one of those main meters and they form